* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #838c91;
  color: #172b4d;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}
.App {
  padding: 20px;
}
.board-wrapper {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.list-wrapper {
  width: 250px;
  min-height: 50px;
  background-color: #ebecf0;
  border-radius: 3px;
  padding: 5px;
  margin: 0 5px;
}
.list-wrapper .list-header {
  padding: 5px;
}
.list-wrapper .list-header .list-title {
  font-size: 14px;
  color: #213658;
}
.tasks-wrapper {
  padding: 5px;
}
.tasks-wrapper .task-item {
  background-color: #ffffff;
  padding: 5px 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
}
.tasks-wrapper .task-item:hover {
  background-color: #f8f8f8;
}
.tasks-wrapper .task-item .task-labels {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 5px;
}
.tasks-wrapper .task-item .task-labels span {
  width: 15px;
  height: 5px;
  background-color: #cbcbcb;
  margin-right: 3px;
  border-radius: 5px;
}
.tasks-wrapper .task-item .task-labels span.green {
  background-color: yellowgreen;
}
.tasks-wrapper .task-item .task-labels span.yellow {
  background-color: yellow;
}
.tasks-wrapper .task-item .task-labels span.blue {
  background-color: blueviolet;
}
.tasks-wrapper .task-item .task-labels span.red {
  background-color: red;
}

.tasks-wrapper .task-item .task-title {
  word-wrap: break-word;
  clear: both;
  color: #172b4d;
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 5px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

.tasks-wrapper .task-item .task-members {
  display: flex;
  justify-content: end;
  align-items: center;
}

.tasks-wrapper .task-item .task-members img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 3px;
}
.tasks-wrapper .create-task-wrapper .create-button {
  font-size: 14px;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 3px;
}
.tasks-wrapper .create-task-wrapper .create-button:hover {
  background-color: #cbcbcb;
}

.tasks-wrapper .create-task-wrapper .create-input-title {
  width: 100%;
  background-color: #ffffff;
  padding: 5px 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 50px;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  border: 0 none;
  resize: none;
  outline: none;
}
.button {
  padding: 6px 12px;
  border-radius: 3px;
  margin-right: 5px;
  border: 1px solid #055a8c;
  color: #ffffff;
  cursor: pointer;
}
.button.button-primary {
  background-color: #055a8c;
}
.button.button-secondary {
  background-color: #ffffff;
  color: #252525;
}

.tasks-wrapper .task-item .move-button {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
}

.move-item-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  background: #424242;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 3px;
  top: 27px;
  right: 8px;
  z-index: 100;
  color: #ffffff;
}
.move-item-wrapper .move-item {
  padding: 5px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  min-width: 100px;
}
